<div class="footer">
    <a href="https://www.facebook.com/vivadecora" target="_blank">
        <svg class="icon icon-facebook" aria-label="Viva Decora - Facebook">
           <use xlink:href="#icon-facebook"></use>
        </svg>
    </a>
    <a href="https://www.instagram.com/vivadecora/" target="_blank">
        <svg class="icon icon-instagram" aria-label="Viva Decora - Instagram">
           <use xlink:href="#icon-instagram"></use>
        </svg>
    </a>
    <a href="https://br.pinterest.com/vivadecorabr/" target="_blank">
        <svg class="icon icon-pinterest" aria-label="Viva Decora - Pinterest">
           <use xlink:href="#icon-pinterest"></use>
        </svg>
    </a>
    <a href="https://plus.google.com/+VivadecoraBrasil/posts" target="_blank">
        <svg class="icon icon-g-plus" aria-label="Viva Decora - Google Plus">
           <use xlink:href="#icon-g-plus"></use>
        </svg>
    </a>
</div>
