<figure class="thumbnail">
	<img ng-src="{{imagePath}}w300{{image}}" alt="{{title}}" class="thumbnail-img">		
	
	<figcaption class="thumbnail-legend">
		<h2 class="thumbnail-legend-name">
			{{title}}
		</h2>
		<div class="thumbnail-review">
			<review-favorites vote-average="{{voteAverage}}"></review-favorites>

			<span class="thumbnail-review-total">
				({{voteCount}} avaliações)
			</span>
		</div>
		<p class="thumbnail-description">
			{{overview | cut:true:100:' ...'}}
		</p>
		<a ng-click="action()" class="thumbnail-viewSynopsis">
			Ver Sinopse			
		</a>
	</figcaption>
</figure>