<figure class="thumbnail">

	<img ng-if="image" ng-src="https://image.tmdb.org/t/p/w500{{image}}" alt="{{title}}" class="thumbnail-img">
	
	<figcaption class="thumbnail-legend">
		<h2 class="thumbnail-legend-name">
			{{title}}
		</h2>
		<div class="thumbnail-review">
			<i class="icon icon-favorite"></i>
			<i class="icon icon-favorite"></i>
			<i class="icon icon-favorite"></i>
			<i class="icon icon-favorite"></i>
			<i class="icon icon-not-favorite"></i>

			<span class="thumbnail-review-total">
				({{vote}} avaliações)
			</span>
		</div>
		<p class="thumbnail-description">
			{{overview | cut:true:100:' ...'}}
		</p>
		<a ng-click="action()" class="thumbnail-viewSynopsis">
			Ver Sinopse			
		</a>
	</figcaption>
</figure>