<div ng-class="{'is-pg-uncured': $location.path() === '/filmes-nao-curados'}"
     ng-style="$location.path() === '/filmes-nao-curados' && {'backgroundImage':'url(https://image.tmdb.org/t/p/w600'+ movieList[0].backdrop_path+''}">

    <div ng-include="'views/template/svg.html'"></div>
    <header class="header-bg" ng-include="'views/template/header.html'"></header>

    <main ui-view></main>
</div>

<footer ng-include="'views/template/footer.html'"></footer>

<modal-movie 
    name="{{movieModal.title}}" 
    image="{{movieModal.backdrop_path}}" 
    date="{{ movieModal.release_date | date: 'MM/yyyy'}}"
    overview="{{movieModal.overview}}"
    vote-count="{{ movieModal.vote_count}}"
    vote-average="{{ movieModal.vote_average}}"
    close-modal="closeModal()"
></modal-movie>