<div ng-include="'views/template/svg.html'"></div>

<header class="header-bg" ng-include="'views/template/header.html'"></header>

<main ui-view></main>

<footer ng-include="'views/template/footer.html'"></footer>

<modal-movie 
    name="{{movieModal.title}}" 
    image="{{movieModal.poster_path}}" 
    image-path="{{movieImgPath}}"
    date="{{ movieModal.release_date | date: 'yyyy'}}"
    overview="{{movieModal.overview}}"
    vote-count="{{ movieModal.vote_count}}"
    vote-average="{{ movieModal.vote_average}}"
    genres="{{ movieModal.genres}}"
    close-modal="closeModal()"
></modal-movie>